[Unit]
Description="Monitor color mode"
Wants=display-manager.service
After=graphical-session.target theme-switcher.service

[Service]
Type=exec
WorkingDirectory=%h
EnvironmentFile=%h/.config/theme-switcher/environment.env
ExecStart=%h/.local/theme-switcher/toggle-mode-on-signal.sh

[Install]
WantedBy=default.target
