[Unit]
Description="Toggle themes (day, night) for Alacritty mode"
Wants=display-manager.service
After=graphical-session.target

[Service]
Type=exec
WorkingDirectory=%h
ExecStart=%h/.local/alacritty/bin/toggle-mode-on-signal.sh

[Install]
WantedBy=default.target
