[Unit]
Description=Theme switcher timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
OnCalendar=*-*-* *:*:00
; Unit=theme-switcher.target
Unit=theme-switcher.service

[Install]
WantedBy=timers.target
