[Unit]
Description=Change Theme based on sunrise/sunset
Wants=display-manager.service update-gtk-theme.service
After=network.target graphical-session.target
Before=update-gtk-theme.service

[Service]
Type=simple
WorkingDirectory=%h
; ProtectHome=yes ;fix this I would like to use this
EnvironmentFile=%h/.config/theme-switcher/environment.env
ExecStartPre=%h/.local/share/alacritty/configure-colors.sh
ExecStart=%h/.local/theme-switcher/theme-switcher.sh
; Restart=on-failure

[Install]
; WantedBy=multi-user.target
WantedBy=default.target
