[Unit]
Description=Theme-switcher target
Wants=theme-switcher.service update-gtk-theme.service
After=theme-switcher.service update-gtk-theme.service

[Install]
WantedBy=theme-switcher.timer
