*

!.bashrc
!.bash_profile
!.profile
# track __rc excluding `tmp/` & opt/function/_local folder
.__rc/*
!.__rc/tmp/*
!.__rc/opt/functions/_local

# track .vim/ excluding `netrw` history
!.vim/**/*
.vim/.netrwhist

!.gitignore
!.gitconfig
!.gitmodules
!.github
!.tmux.conf
!.inputrc
!.workrc

# ignores user systemd units
!.config/systemd/user/*

# ignores great-matcha project files
!.config/alacritty/alacritty.toml
!.config/alacritty/**/*
!.local/theme-switcher/*
