*

!.bashrc
!.bash_profile
!.profile
!.__rc.bash

# track .vim/ excluding netrw history
!.vim/**/*
.vim/.netrwhist

!.gitignore
!.gitconfig
!.gitmodules
!.github
!.tmux.conf
!.inputrc
!.workrc
!.config/systemd/user/*
!.local/theme-switcher/*

.config/alacritty/**/*
