[submodule "vim-jsx"]
	path = .vim/pack/mca/opt/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "vim-go"]
	path = .vim/pack/mca/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "meta5"]
	path = .vim/pack/colorschemes/start/meta5
	url = git@github.com:christophermca/meta5.git
[submodule "ultisnips"]
	path = .vim/pack/mca/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "ale"]
	path = .vim/pack/mca/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "omnisharp-vim"]
	path = .vim/pack/mca/opt/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "vim-commentary"]
	path = .vim/pack/mca/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-dispatch"]
	path = .vim/pack/mca/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-fugitive"]
	path = .vim/pack/mca/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-surround"]
	path = .vim/pack/mca/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "fzf"]
	path = .vim/pack/mca/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "xterm-color-table"]
	path = .vim/pack/mca/start/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "emmet-vim"]
	path = .vim/pack/mca/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim-coffee-script"]
	path = .vim/pack/mca/opt/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-flake8"]
	path = .vim/pack/mca/opt/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim-json"]
	path = .vim/pack/mca/opt/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim-mustache-handlebars"]
	path = .vim/pack/mca/opt/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim-ruby"]
	path = .vim/pack/mca/opt/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim-stylus"]
	path = .vim/pack/mca/opt/vim-stylus
	url = https://github.com/vim-scripts/vim-stylus.git
[submodule "vim-javascript-syntax"]
	path = .vim/pack/mca/opt/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "typescript-vim"]
	path = .vim/pack/mca/opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "tsuquyomi"]
	path = .vim/pack/mca/opt/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule ".vim/pack/mca/opt/tsuquyomi"]
	path = .vim/pack/mca/opt/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule ".vim/pack/mca/opt/pylint.vim"]
	path = .vim/pack/mca/opt/pylint.vim
	url = git@github.com:vim-scripts/pylint.vim.git
[submodule "vim-HiLinkTrace"]
	path = .vim/pack/mca/opt/vim-HiLinkTrace
	url = https://github.com/gerw/vim-HiLinkTrace.git
[submodule "pythoncomplete"]
	path = .vim/pack/mca/opt/pythoncomplete
	url = git@github.com:vim-scripts/pythoncomplete.git
[submodule "python-syntax"]
	path = .vim/pack/mca/opt/python-syntax
	url = git@github.com:vim-python/python-syntax.git
[submodule "pylint"]
	path = .vim/pack/mca/opt/pylint
	url = git@github.com:vim-scripts/pylint.vim.git
[submodule "ack"]
	path = .vim/pack/mca/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "speyside"]
	path = .vim/pack/colorschemes/start/speyside
	url = git@github.com:christophermca/speyside.git
[submodule ".vim/pack/colorschemes/start/speyside"]
	branch = dev
[submodule ".vim/pack/mca/start/vim-go"]
	path = .vim/pack/mca/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".config/i3blocks/scripts/i3blocks-contrib"]
	path = .config/i3blocks/scripts/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
