*

!.bashrc
!.bash_profile
!.profile
# track __rc excluding `tmp/` folder
!.__rc/*
.__rc/tmp/*

# track .vim/ excluding `netrw` history
!.vim/**/*
.vim/.netrwhist

!.gitignore
!.gitconfig
!.gitmodules
!.github
!.tmux.conf
!.inputrc
!.workrc
!.config/systemd/user/*
!.config/alacritty/**/*
!.local/theme-switcher/*
