[Unit]
Description=Update Gtk Theme
Wants=display-manager.service
After=graphical-session.target theme-switcher.service

[Service]
Type=dbus
BusName=org.xfce.Xfconf
User=christophermca
Group=christophermca
WorkingDirectory=/home/christophermca/
EnvironmentFile=/home/christophermca/.config/theme-switcher/environment.env
ExecStart=+/home/christophermca/.local/theme-switcher/update-gtk.sh
ExecStop=echo "||||||STARTPOST|||||"
; ExecStopPost=!i3-msg restart

[Install]
WantedBy=multi-user.target theme-service.service

